.chess-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    margin: 20px auto;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

    .square.light {
        background-color: #f0d9b5;
    }

    .square.dark {
        background-color: #b58863;
    }

    .square img {
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;
        pointer-events: none;
    }
.captured-panel {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 6px;
    min-height: 40px;
}

    .captured-panel img {
        height: 36px;
        width: 36px;
    }


.promotion-overlay {
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-buttons {
    display: flex;
    gap: 4px;
    background: rgba(0,0,0,0.8);
    padding: 6px;
    border-radius: 6px;
}

    .promotion-buttons img {
        width: 48px;
        height: 48px;
        cursor: pointer;
        border: 2px solid white;
        border-radius: 4px;
    }

.hidden {
    display: none;
}
